.lowerCard {
  box-sizing: border-box;
  min-width: 0px;
  height: max-content;
  border-radius: 8px;
  background-color: rgb(242, 242, 250);
  box-shadow: rgb(20 19 51 / 6%) 0px 8px 12px, rgb(20 19 51 / 6%) 0px 2px 6px;
  padding: 3rem;
  margin: 1rem 1rem 2.5rem;
}
@media screen and (min-width: 576px) {
  .lowerCard {
    margin: 1rem 1rem 2.5rem;
  }
}
@media screen and (min-width: 768px) {
  .lowerCard {
    margin: 1rem 1rem 2.5rem;
  }
}
@media screen and (min-width: 992px) {
  .lowerCard {
    margin: 3rem 2rem 1rem;
  }
}

/*  */
.upperCard {
  box-sizing: border-box;
  min-width: 0px;
  height: max-content;
  border-radius: 8px;
  background-color: rgb(242, 242, 250);
  box-shadow: rgb(20 19 51 / 6%) 0px 8px 12px, rgb(20 19 51 / 6%) 0px 2px 6px;
  padding: 3rem;
  margin: 1rem 1rem 2.5rem;
}
@media screen and (min-width: 576px) {
  .upperCard {
    margin: 1rem 1rem 2.5rem;
  }
}
@media screen and (min-width: 768px) {
  .upperCard {
    margin: 1rem 1rem 2.5rem;
  }
}
@media screen and (min-width: 992px) {
  .upperCard {
    margin: 1rem 2rem 4.5rem;
  }
}
