.partnerContainer {
  /* box-sizing: border-box;
  min-width: 0px;
  width: 90%;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center; */
  /* background-color: #f2f2fa; */
  /* padding-top: 4.5rem;
  padding-bottom: 4.5rem; */
}
/* .partnerContainer {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 576px) {
  .partnerContainer {
    width: 75%;
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
  }
}
@media screen and (min-width: 768px) {
  .partnerContainer {
    padding-top: 6.75rem;
    padding-bottom: 6.75rem;
  }
}
@media screen and (min-width: 1280px) {
  .partnerContainer {
    margin: 0 calc((100vw - 1200px) / 2);
  }
} */
/*  */

/* .wrap  {
  padding: 0px 0.5rem;
} */

/* .wrap > div {
  max-width: calc(1200px + 4rem);
} */
/* @media (min-width: 576px) {
  .wrap  {
    padding: 0px 0.75rem;
  }
} */
/* @media (min-width: 992px) {
  .wrap {
    padding: 0px 1rem;
  }
}  */

/* div.content {
  padding: 0px;
}
.content {
  display: flex;
  flex-wrap: wrap;
  margin: 0px auto !important;
  width: 100%;
}
@media (min-width: 576px) {
  .content {
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .content {
    flex-direction: column;
  }
}
@media (min-width: 992px) {
  .content {
    flex-direction: column;
  }
}
@media (min-width: 1200px) {
  .content {
    flex-direction: column;
  }
} */

/*  */
.contentMargin {
  margin-left: 0%;
  margin-right: 0%;
}
@media screen and (min-width: 1280px) {
  .contentMargin {
    margin: 0 calc((100vw - 1200px) / 2);
  }
}
.cardW {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}
@media (min-width: 1200px) {
  .cardW {
    width: 90%;
  }
}
@media (min-width: 1440px) {
  .cardW {
    width: 70%;
  }
}

/*  */
.card {
  box-sizing: border-box;
  min-width: 0px;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(20 19 51 / 6%) 0px 8px 12px, rgb(20 19 51 / 6%) 0px 2px 6px;
  padding: 3rem 1.5rem;
}
@media screen and (min-width: 576px) {
  .card {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .card {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
/* h2 */
.h2 {
  padding: 0px;
  margin: 0px;
  font-size: 1.75rem;
  font-family: Boing, 'IBM Plex Sans Hebrew';
  font-weight: 500;
  line-height: 1.2;
  max-width: 100%;
  text-align: center;
}
@media screen and (min-width: 576px) {
  .h2 {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .h2 {
    text-align: start;
  }
}
@media screen and (min-width: 576px) {
  .h2 {
    font-size: 1.75rem;
  }
}
@media screen and (min-width: 768px) {
  .h2 {
    font-size: 2rem;
  }
}

/* p */
.p {
  padding: 1rem 0px 0px;
  margin: 0px;
  font-size: 1rem;
  line-height: 1.5;
  /* font-weight: 600; */
  font-family: Inter;
  letter-spacing: normal;
  max-width: 100%;
  text-align: center;
}
@media screen and (min-width: 576px) {
  .p {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .p {
    text-align: start;
  }
}
