.contentMargin {
  margin-left: 0%;
  margin-right: 0%;
}
@media screen and (min-width: 1200px) {
  .contentMargin {
    margin: 0 calc((100vw - 1200px) / 2);
  }
}

.w50 {
  width: 100%;
}
@media screen and (min-width: 756px) {
  .w50 {
    width: 50%;
  }
}
