.contW {
  width: 90%;
}
@media (min-width: 400px) {
  .contW {
    width: 70%;
  }
}
@media (min-width: 500px) {
  .contW {
    width: 65%;
  }
}
@media (min-width: 576px) {
  .contW {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .contW {
    width: 80%;
  }
}
