.cont {
  box-sizing: border-box;
  min-width: 0px;
  background-color: rgb(236, 250, 248);
  padding-top: 3rem;
  padding-bottom: 6rem;
}
@media screen and (min-width: 576px) {
  .cont {
    padding-top: 4.5rem;
  }
}
/*  */
.margin {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 992px) {
  .margin {
    width: 75%;
  }
}
@media screen and (max-width: 992px) {
  .margin {
    width: 90%;
  }
}

/*  */

.card {
  box-sizing: border-box;
  min-width: 0px;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(20 19 51 / 6%) 0px 8px 12px, rgb(20 19 51 / 6%) 0px 2px 6px;
}

.cardPadding {
  box-sizing: border-box;
  min-width: 0px;
  padding: 3rem 1.5rem;
}
@media screen and (min-width: 576px) {
  .cardPadding {
    padding: 56px 3rem;
  }
}
@media screen and (min-width: 768px) {
  .cardPadding {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

/*  */
.h2 {
  color: var(--darkblue);
  padding: 0px;
  margin: 0px 0px 1rem;
  font-size: 1.75rem;
  font-family: Boing;
  font-weight: 500;
  line-height: 1.2;
  max-width: 100%;
}
@media screen and (min-width: 576px) {
  .h2 {
    font-size: 1.75rem;
  }
}
@media screen and (min-width: 768px) {
  .h2 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .h2 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1200px) {
  .h2 {
    font-size: 2.25rem;
  }
}

/*  */
.p {
  color: var(--darkblue);
  padding: 0px;
  margin: 0px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: normal;
  font-family: Inter;
  font-size: 1rem;
  max-width: 100%;
}
@media screen and (min-width: 576px) {
  .p {
    font-size: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .p {
    font-size: 1.125rem;
  }
}

/*  */

.workPadding {
  box-sizing: border-box;
  min-width: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
@media screen and (min-width: 768px) {
  .workPadding {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

/*  */

.imgCont {
  box-sizing: border-box;
  min-width: 0px;
  height: 100px;
  width: 100px;
  background-color: white;
  margin-top: 3rem;
  border-radius: 100%;
}
@media screen and (min-width: 576px) {
  .imgCont {
    margin-top: 3rem;
  }
}
@media screen and (min-width: 768px) {
  .imgCont {
    margin-top: 3rem;
  }
}

@media screen and (min-width: 992px) {
  .imgCont {
    margin-top: 56px;
  }
}

/*  */

.check {
  width: 1.5rem;
  height: 1.5rem;
  flex: 0 0 1.5rem;
  background: rgb(0, 193, 161);
  border-radius: 100%;
  margin-right: 0.5rem;
  position: relative;
  color: rgb(255, 255, 255);
}

.p {
  padding: 0px;
  font-size: 0.9rem;
  line-height: 1.5;
  font-weight: 400;
  font-family: Inter;
  letter-spacing: normal;
  max-width: 100%;
  margin: 0px;
  flex-basis: calc(100% - 1.5rem);
}
