.shop {
  cursor: pointer;
}
.shopImg {
  box-sizing: border-box;
  min-width: 0px;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 2rem;
  overflow: hidden;
  height: 13.25rem;
  color: rgb(255, 255, 255);
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  /* background-image: url(https://www.datocms-assets.com/26641/1648508712-browns-shoes-min.jpeg); */
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  position: relative;
}
.shopBg::before {
  content: '';
  position: absolute;
  pointer-events: none;
  inset: 0px;
  background-color: #6262ab;
  opacity: 0.3;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  transition: all 0.2s ease 0s;
}

.shop:hover .shopBg::before {
  /* opacity: 0.9; */
  background-color: #0b0be1;
}

.shopNow {
  display: none;
}
.shop:hover .shopNow {
  display: block;
}

/* .shopInfo {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
} */
.shop:hover .shopInfo {
  box-shadow: #6261aa 0px 2px 4px, #ffffff 0px 4px 6px;
}
.category {
  padding: 0px;
  margin: 0px 0px 0.25rem;
  font-weight: 600;
  line-height: 1.32;
  font-family: Inter;
  letter-spacing: normal;
  max-width: 100%;
  font-size: 0.625rem;
  color: var(--darkblue);
  text-transform: uppercase;
}

.marchent {
  padding: 0px;
  margin: 0px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: normal;
  font-family: Inter;
  font-size: 1rem;
  max-width: 100%;
  color: var(--darkblue);
}
