.paymentMerchantBg {
  width: 100%;
  background: #f8f5f1; /* Old browsers */
  background: -moz-linear-gradient(top, #f8f5f1 80%, white 80%); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #f8f5f1 80%,
    white 80%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #f8f5f1 80%,
    white 80%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f5f1', endColorstr='#1c06dd',GradientType=0 ); /* IE6-9 */
}
