.contentMargin {
  padding: 0;
  margin-left: 0%;
  margin-right: 0%;
}
@media screen and (min-width: 992px) {
  .contentMargin {
    padding: 0 5%;
  }
}
@media screen and (min-width: 1200px) {
  .contentMargin {
    margin: 0 calc((100vw - 1200px) / 2);
  }
}
.mx {
  padding: 0 0;
}
@media screen and (min-width: 1200px) {
  .mx {
    padding: 0 4.5rem;
  }
}

/*  */
.equalPadding {
  box-sizing: border-box;
  min-width: 0px;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  height: 100%;
  padding-top: 1.5rem;
  padding-bottom: 0px;
}
@media screen and (min-width: 576px) {
  .equalPadding {
    padding-top: 2rem;
    padding-bottom: 3rem;
  }
}
@media screen and (min-width: 768px) {
  .equalPadding {
    padding-top: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .equalPadding {
    padding-top: 3rem;
  }
}

/*  */
.p {
  padding: 0px;
  margin: 0px 0px 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: normal;
  font-family: Inter;
  font-size: 1rem;
  max-width: 100%;
}
@media screen and (min-width: 576px) {
  .p {
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .p {
    font-size: 1.125rem;
  }
}

.imgW {
  width: 70%;
}
@media screen and (min-width: 320px) {
  .imgW {
    width: 40%;
  }
}
@media screen and (min-width: 450px) {
  .imgW {
    width: 35%;
  }
}
@media screen and (min-width: 568px) {
  .imgW {
    width: 25%;
  }
}
@media screen and (min-width: 768px) {
  .imgW {
    width: 100%;
  }
}
