.cont {
  box-sizing: border-box;
  min-width: 0px;
  width: 100%;
  background-color: rgb(33, 33, 137);
  position: relative;
  z-index: 2;
}

.padding {
  box-sizing: border-box;
  min-width: 0px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
}

.footerP {
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 0%;
  font-size: 0.775rem;
  font-weight: 600;
  line-height: 1.32;
  font-family: Inter;
}
@media screen and (min-width: 1200px) {
  .footerP {
    margin-bottom: 10px;
  }
}
