.contPadding {
  box-sizing: border-box;
  min-width: 0px;
  background-color: rgb(242, 242, 250);
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}
@media screen and (min-width: 576px) {
  .contPadding {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
  }
}
@media screen and (min-width: 768px) {
  .contPadding {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
  }
}
@media screen and (min-width: 992px) {
  .contPadding {
    padding-top: 6.75rem;
    padding-bottom: 6.75rem;
  }
}

/*  */

.pera {
  padding: 0px;
  margin: 0px 0px 2rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: normal;
  font-family: Inter;
  font-size: 1rem;
  max-width: 100%;
  text-align: center;
}
@media screen and (min-width: 576px) {
  .pera {
    font-size: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .pera {
    font-size: 1.125rem;
  }
}
