/* .card {
  box-sizing: border-box;
  min-width: 0px;
  border-radius: 8px;
  background-color: rgb(242, 242, 250);
  box-shadow: rgb(20 19 51 / 6%) 0px 8px 12px, rgb(20 19 51 / 6%) 0px 2px 6px;
  padding: 3rem;
  margin: 1rem 1rem 2.5rem;
}
@media screen and (min-width: 576px) {
  .card {
    margin: 1rem 1rem 2.5rem;
  }
}
@media screen and (min-width: 768px) {
  .card {
    margin: 1rem 1rem 2.5rem;
  }
}

@media screen and (min-width: 992px) {
  .card {
    margin: 3rem 2rem 1rem;
  }
} */

.card {
  box-sizing: border-box;
  min-width: 0px;
  border-radius: 8px;
  background-color: white;
  box-shadow: rgb(20 19 51 / 6%) 0px 8px 12px, rgb(20 19 51 / 6%) 0px 2px 6px;
  padding: 2.5rem 1rem;
  margin: 1rem 1rem 2.5rem;
}
@media screen and (min-width: 576px) {
  .card {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 2.5rem;
  }
}
@media screen and (min-width: 768px) {
  .card {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 2.5rem;
  }
}
@media screen and (min-width: 992px) {
  .card {
    margin-bottom: 2.5rem;
  }
}
@media screen and (min-width: 1200px) {
  .card {
    margin-bottom: 1rem;
  }
}

/*  */
@media screen and (min-width: 576px) {
  .imgCont {
    padding-bottom: 0px;
  }
}
.imgCont {
  box-sizing: border-box;
  min-width: 0px;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  height: 100%;
  padding-bottom: 1.5rem;
}
