.navMenu {
  color: var(--darkblue);
  padding: 2rem 1rem 28px;
  font-size: 1rem;
  font-weight: 600;
  white-space: nowrap;
  line-height: 1.5rem;
  box-sizing: border-box;
  border-width: 0px 0 4px 0;
  border-color: transparent;
  background-color: transparent;
  border-style: solid;
}
.navMenu:hover {
  color: var(--lightblue);
  border-width: 0px 0 4px 0;
  border-bottom-color: var(--darkblue);
}

.navContainer {
  position: sticky;
}
@media only screen and (max-width: 768px) {
  .navContainer {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

/*  */
.paddingLR {
  box-sizing: border-box;
  /* min-width: 0px; */
  /* max-width: 1440px; */
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media screen and (min-width: 576px) {
  .paddingLR {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .paddingLR {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
@media screen and (min-width: 992px) {
  .paddingLR {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .paddingLR {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
